html, body {
  height: 100vh;
}

.header {
  text-align: center; 
}

.zip-form {
  display: flex;
  justify-content: center;
}

.suggestion-content {
  display: flex;
  justify-content: center;
}

.mdl-layout {
  height: 100vh;
}

.low {
  background-color: #2ecc71;
}

.med { 
  background-color: #f1c40f;
}

.high {
  background-color: #e67e22;
}

.extreme {
  background-color: #c0392b;
}

.result {
  font-size: 200px !important;
  color: #ecf0f1;
}

.result-caption {
  font-size: 100px !important;
  line-height: 100px;
  color: #ecf0f1;
}

.back-button {
  margin-top: 20px !important;
  margin-left: 20px !important;
  color: #ecf0f1 !important;
}

.suggestions-button {
  color: #ecf0f1 !important;
}